{% extends "./base.html" %} 
{% load static %}
{% block style %} 
<link rel="stylesheet" href="{% static 'home/css/xenon-core.css' %}">
<style>
html {overflow-x: hidden;}
.panel {padding: 0 !important;}
.panel-group .panel .panel-heading .panel-title {
	padding: 0 !important;
    font-weight: bolder;
}
.panel .panel-body {
	padding: 0;
	padding-top: 10px;
}
.panel .panel-heading>.panel-title>a {
	padding: 17px !important;
    text-decoration: none;
	border: solid 2px #00356b;
	border-radius: 4px;
}
.panel-group .panel .panel-heading+.panel-collapse .panel-body {
	margin-top: 0 !important;
    padding: 20px;
    border: 1px solid #9c9d9e;
    border-top: 0 !important;
}
.panel .panel-heading>.panel-title>a:hover {
	color: #00356b !important;
}
.panel-body>li{
	color: black;
}

table th {
	border: 1px solid #f2f3f3;
	font-size:17px;
	color:#343a40;
	text-align: center;
    background-color: #c4e3f3;
	border: 1px solid #ddd;
}
td{
	padding-left: 10px;
	font-size: 17px;
	font-style: normal;
	word-wrap:break-word;
	word-break:break-all;
	padding-top: 10px;
	padding-bottom: 10px;	
	padding-right: 10px;
	background: white;
	border: 1px solid #ddd;
}
td>a{
	text-decoration:none !important;
	color: black;
	cursor: pointer;
}
</style>
{% endblock %} 
{% block main %} 
<nav aria-label="breadcrumb" class="mt-2">
	<ol class="breadcrumb">
		<li class="breadcrumb-item align-items-center"><i class="fas fa-home" style="padding-right:15px"></i>Detail Information</li>
        <li class="breadcrumb-item active" aria-current="page">Inhibitor</li>
    </ol>
</nav>
<div class="mt-2" style="margin-bottom:25px">
    <div class="card border-danger mt-2" style="padding-left:15px;padding-top:15px">
        <p style="cursor:pointer;width: 100px;" onclick="javascript:history.back(-1);">
			<span style="font-style: normal"><img src="{% static 'common/images/back.png' %}" alt="download-search" class="small_icons" style="margin-bottom: 4px;margin-right: 7px;width: 14px;height: 14px;">
				<b style="font-size: 16px;color: #00356b;">Go Back</b>
			</span>
		</p>
		<p><b style="font-size: 22px;color: #00356b;">Basic Information</b></p>
		<section style="margin-bottom: 0px;margin-right:20px">
			<table frame="void" width="100%" id="base_table" style="margin-bottom:15px;border: 1px solid #ddd;">
				<tbody>
					<tr>
						<th>Inhibitor</th>
						<td>{{inhibitor.0.name}}</td>
						
					</tr>
					{% if inhibitor.0.state != '-' %}
					<tr>
						<th>State</th>
						<td>{{inhibitor.0.state}}</td>
					</tr>
					{% endif %}
					{% if inhibitor.0.drugbank_id != '-' %}
					<tr>
						<th>DrugBank</th>
						<td><a href="https://go.drugbank.com/drugs/{{inhibitor.0.drugbank_id}}" target="_blank">{{inhibitor.0.drugbank_id}}</a></td>
					</tr>
					{% endif %}
					<tr>
						<th style="padding: 10px 0">Enzyme</th>
						<th>Enzyme Type</th>
					</tr>
					{% for enzyme in inhibitor.0.enzyme %}
					{% with forloop.counter|cut:" " as index %}
					<tr>
						<td style="text-align:center">
							<a onclick="submit1('{{inhibitor.0.e_id|slice:index|last}}')" target="_blank">
                                {{inhibitor.0.enzyme|slice:index|last}}<i style="padding-left: 5%; color: #00356B" class="fas fa-barcode"></i>
                            </a>
						</td>
						<td style="text-align:center">{{inhibitor.0.enzyme_type|slice:index|last}}</td>
					</tr>
					{% endwith %}
					{% endfor %}
					{% for gene in enzyme.gene_symbol %}
					{% with forloop.counter|cut:" " as index %}
						<tr>
							<td style="text-align:center">{{gene}}</td>
							<td style="text-align:center"><a href="https://www.uniprot.org/uniprotkb/{{enzyme.uniport_id|slice:index|last}}/entry" target="_blank">{{enzyme.uniport_id|slice:index|last}}</a></td>
							<td style="text-align:center">{{gene}}</td>
						</tr>
					{% endwith %}
					{% endfor %}
				</tbody>
			</table>
		</section>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">
                    PTM Sites:
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <section style="margin-bottom: 0px">
                    <table frame="void" width="100%" style="margin-bottom:15px;border: 1px solid #ddd;">
						<tbody>
							<tr>
								<th style="width:15%">SID</th>
								<th style="width:15%">Site</th>
								<th style="width:5%">AA</th>
								<th style="width:25%">PTM</th>
								<th>Donor</th>
								<th style="width:25%">PTase</th>
							</tr>
							{% for one in ptase %}
							<tr>
								<td style="text-align: center">{{one.2.sid}}</td>
								<td style="text-align: center">{{one.0}}</td>
								<td style="text-align: center">{{one.1}}</td>
								<td style="text-align: center">{{one.2.ptm}}</td>
								<td style="text-align: center">{{one.2.donor}}</td>
                                <td style="text-align: center">
                                    <a href="{% url 'ppm:statistics' %}" target="_blank">
                                        {{one.2.ptase}}<i style="padding-left: 5%; color: #00356B" class="fas fa-barcode"></i>
                                    </a>
                                </td>
							</tr>
							{% endfor %}
							<tr>
								<th>Evidence</th>
								<td colspan="3" style="text-align: center">{{protein.evidence}}</td>
								<th>Database</th>
								<td colspan="2" style="text-align: center">{{protein.database}}</td>
							</tr>
							<tr>
								<th>Source</th>
								<td colspan="5">{{protein.evidence_source|safe}}</td>
							</tr>
							{% if protein.description != '-'%}
								<tr>
									<th>Description</th>
									<td colspan="5" style="word-break:keep-all;text-align:justify">{{protein.description}}</td>
								</tr>
							{% endif %}
							
							{% if dis %}
								<tr>
									<th colspan="2">Related Disease</th>
									<th colspan="2">Tissue/Cell</th>
									<th>DO</th>
								</tr>
							{% endif %}
							{% for one in dis %}
								<tr>
									<td colspan="2" style="text-align: center">{{one.disease_ontology}}</td>
									<td colspan="2" style="text-align: center">{{one.tissue_cell}}</td>
									<td style="text-align: center">{{one.DO_id}}</td>
								</tr>
								{% if one.description != '-'%}
								<tr>
									<th>Description</th>
									<td colspan="4" style="word-break:keep-all;text-align:justify">{{one.description}}</td>
								</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
                </section>
            </div>
        </div>
    </div>
	<div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">
                    Basic Information:
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                <section style="margin-bottom: 0px">
                    <p>cdcdcdcd</p>
                </section>
            </div>
        </div>
    </div>
	<div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">
                    Basic Information:
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
                <section style="margin-bottom: 0px">
                    <p>cdcdcdcd</p>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loading-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content border-0" style="background: none;">
			<div class="modal-body text-center" style="background: none;">
				<div class="load">
					<hr/>
					<hr/>
					<hr/>
					<hr/>
				</div>
				<h2 style="color: white">Please Wait...</h2>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script>
function submit1(uid) {
    var myForm = document.createElement("form");
    myForm.method = "GET";
    myForm.action = "{% url 'ppm:more' %}";
    var typeInput = document.createElement("input");
    typeInput.type = "hidden";
    typeInput.name = "type";
    typeInput.value = "enzyme";
    myForm.appendChild(typeInput);
    var uidInput = document.createElement("input");
    uidInput.name = "uid";
    uidInput.type = "hidden";
    uidInput.value = uid;
    myForm.appendChild(uidInput);
    document.body.appendChild(myForm);
    myForm.submit();
    document.body.removeChild(myForm);
};
</script>
{% endblock %}
