# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\database\PPMDB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
